/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './project_theme';

body {
  margin-top: 0px;
  margin-bottom: 10px;
}


.mat-icon {
  font-size: 1.2em;
  vertical-align: -22%;
  height: 18px;
  width: 18px;
};

.mat-toolbar {
  display: grid;
  grid-gap: 5px;  
  height: 43px !important;      
  align-content: space-between;
  grid-template-columns: 40px auto auto 40px !important;         
  grid-template-rows: 50px !important;         
  grid-auto-rows: 120px;
  /*background: #97550B !important;*/
  display: flex;
  width: 100%;  
  flex-direction: row;
  align-items: center ; 
  white-space: nowrap;
  color: #FFFFFF;
}

md-stepper .horizontal md-step .step-header {
  display: none;
}

.step-header {
  position: relative;
  padding: 10px;
}

.step-header .label {
  margin: 0 8px;
}

.step-content {
  padding: 10px;
}

mat-stepper .vertical mat-step .step-content {
  margin: 0 0 0 20px;
  border-left: 1px solid #e0e0e0;
}

.step-header .line {
  margin-right: 8px;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

.step-circle {
  background-color: #9b9b9b;
}

.step-circle.done {
  background-color: #3f51b5;
}

.step-circle {
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.mat-sidenav {

;  z-index:1000;
  top:0;
  box-shadow:2px 0px 10px grey;
  flex-shrink: 0;
  /*background-color: #97550B ;*/
  overflow-x: hidden;
  &:not(.cover) {
      width: 250px; 
      transition: width 0.4s ease-in;
      &.open {
          width: 250px;
          transition: width 0.4s ease-out;
      }
  }
  &.cover {
      width: 250px;
      position: fixed;
      top: 5;
      left: 0;
      bottom: 0;
      margin-left: -250px;
      transition: margin 0.4s ease-in;
      &.open {
          margin-left: 0;
          transition: margin 0.4s ease-out;
      }
  }
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*
* Actual Sticky Footer Styles
*/
.all-wrap {
 min-height: 100vh;
}

.page-wrap {
 display: flex;
 flex-direction: column;
 min-height: 100vh;
}

.content {
 flex: 1;
}


/*
* Make the Component injected by Router Outlet full height:
*/
main {
 display: flex;
 flex-direction: column;
 > *:not(router-outlet) {
   flex: 1;
   display: block;
 }
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

/** No CSS for this example */


/* In general, top-margin is used to set the vertical position of the element's
 * baseline with left/right neighbors. Height is used to set vertical position
 * of the next element down the page. Each element's overall height is 66px here.
 */
 .mat-select {
  margin-top: 16px;
  height: 50px;
}

mat-card {
  margin: 15px;
}
mat-card-title {
  margin-bottom: 50px;
}
mat-card-actions {
  margin-bottom: 0px;
}
.question-form {
  width: 90%;
}
.full-width {
  width: 100%;
}

.mat-radio-group, .checkbox-container {
  display: flex;
  flex-wrap: wrap;
}

.mat-checkbox {
  display: inline-block;
  margin-right: 16px;
  margin-top: 18px;
  height: 48px;
}
.mat-radio-button {
  margin-right: 16px;
  margin-top: 20px;
  height: 46px;
}

.mat-slider-horizontal {
  width: 95%;
  margin-top: 21px;
  height: 45px;
}


.header_menu{       
  text-align: left; 
  margin-top: 45px !important;
   background-image: url('./assets/down-arrow.png') !important;
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: -20px;
  background-position-y: 20px;  
}

.dropdown:hover .dropdown-menu {
  display: block;
}

@import '~@angular/material/theming';
@include mat-core();
.example-header-image {
  background-image: url('./assets/logo_Bairro_Social.png');
  background-size: cover;
}

.example-spacer {
  flex: 1 1 auto;
}





@mixin mat-stepper-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $primary: map-get($theme, primary);

  .mat-step-header {
    &.cdk-keyboard-focused,
    &.cdk-program-focused,
    &:hover {
      background-color: mat-color($background, hover);
    }

    .mat-step-label,
    .mat-step-optional {
      color: mat-color($foreground, disabled-text);
    }

    .mat-step-icon {
      background-color: mat-color($primary);
      color: mat-color($primary, default-contrast);
    }

    .mat-step-icon-not-touched {
      background-color: mat-color($foreground, disabled-text);
      color: mat-color($primary, default-contrast);
    }

    .mat-step-label.mat-step-label-active {
      color: mat-color($foreground, text);
    }
  }

  .mat-stepper-horizontal, .mat-stepper-vertical {
    background-color: mat-color($background, card);
  }

  .mat-stepper-vertical-line::before {
    border-left-color: mat-color($foreground, divider);
  }

  .mat-stepper-horizontal-line {
    border-top-color: mat-color($foreground, divider);
  }
}

@mixin mat-stepper-typography($config) {
  .mat-stepper-vertical, .mat-stepper-horizontal {
    font-family: mat-font-family($config);
  }

  .mat-step-label {
    font: {
      size: mat-font-size($config, body-1);
      weight: mat-font-weight($config, body-1);
    };
  }

  .mat-step-label-selected {
    font: {
      size: mat-font-size($config, body-2);
      weight: mat-font-weight($config, body-2);
    };
  }
}