/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './project_theme';

body {
  margin-top: 0px;
  margin-bottom: 10px;
}


.mat-icon {
  font-size: 1.2em;
  vertical-align: -22%;
  height: 18px;
  width: 18px;
};

.mat-toolbar {
  display: grid;
  grid-gap: 5px;  
  height: 43px !important;      
  align-content: space-between;
  grid-template-columns: 40px auto auto 40px !important;         
  grid-template-rows: 50px !important;         
  grid-auto-rows: 120px;
  background: #97550B !important;
  display: flex;
  width: 100%;  
  flex-direction: row;
  align-items: center ; 
  white-space: nowrap;
  color: #FFFFFF;
}


.mat-sidenav {

;  z-index:1000;
  top:0;
  box-shadow:2px 0px 10px grey;
  flex-shrink: 0;
  background-color: #97550B ;
  overflow-x: hidden;
  &:not(.cover) {
      width: 250px; 
      transition: width 0.4s ease-in;
      &.open {
          width: 250px;
          transition: width 0.4s ease-out;
      }
  }
  &.cover {
      width: 250px;
      position: fixed;
      top: 5;
      left: 0;
      bottom: 0;
      margin-left: -250px;
      transition: margin 0.4s ease-in;
      &.open {
          margin-left: 0;
          transition: margin 0.4s ease-out;
      }
  }
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*
* Actual Sticky Footer Styles
*/
.all-wrap {
 min-height: 100vh;
}

.page-wrap {
 display: flex;
 flex-direction: column;
 min-height: 100vh;
}

.content {
 flex: 1;
}


/*
* Make the Component injected by Router Outlet full height:
*/
main {
 display: flex;
 flex-direction: column;
 > *:not(router-outlet) {
   flex: 1;
   display: block;
 }
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.header_menu{       
  text-align: left; 
  margin-top: 45px !important;
   background-image: url('./assets/down-arrow.png') !important;
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: -20px;
  background-position-y: 20px;  
}

.dropdown:hover .dropdown-menu {
  display: block;
}

@import '~@angular/material/theming';
@include mat-core();
.example-header-image {
  background-image: url('./assets/logo_Bairro_Social.png');
  background-size: cover;
}

.example-spacer {
  flex: 1 1 auto;
}