<div class="page-header">

    <nav class="navbar navbar-custom">
        <!-- Navbar content -->

        <div class="nav navbar-nav">
            <a class="navbar-brand" href="#">
                <img src="/assets/nav_logo_Bairro_Social.png" alt="Bairro Social">
                </a>
            <a routerLink="/" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
              <i class="fa fa-home"></i> Home
            </a>
            <a routerLink="/cats" class="nav-item nav-link" routerLinkActive="active">
              <i class="fa fa-list"></i> Cadastro
            </a>
            <a routerLink="/login" class="nav-item nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
              <i class="fa fa-sign-in"></i> Entrar
            </a>
            <a routerLink="/register" class="nav-item nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
              <i class="fa fa-user-plus"></i> Registrar
            </a>
            <a routerLink="/account" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
              <i class="fa fa-user"></i> Account ({{auth.currentUser.username}})
            </a>
            <a routerLink="/admin" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
              <i class="fa fa-lock"></i> Admin
            </a>
            <a routerLink="/logout" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
              <i class="fa fa-sign-out"></i> Sair
            </a>
          </div>
      </nav>
     
   
      
 

  <!--/.navbar -->
  <!-- Page Content -->
  <!-- /.container -->
  <div class="container">

    <router-outlet></router-outlet>

  </div>

  <footer class="navbar-fixed-bottom"> 2017 Bairro Social V0.1. </footer>