<app-toast [message]="toast.message"></app-toast>
<mat-card>
  <mat-card-content>

    <h4>Acesse sua conta</h4>


    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <mat-form-field>
        <span>
          <mat-icon [class.primary]="email"></mat-icon>&nbsp;</span>
        <input matInput placeholder="Email" formControlName="email" required>
      </mat-form-field>

      <br/>

      <mat-form-field>
        <span>
          <mat-icon [class.primary]="password"></mat-icon>&nbsp;</span>
        <input matInput placeholder="password" formControlName="password" required>
      </mat-form-field>

      <br/>

      <div>
        <button mat-button>
          <i class="fa fa-login"></i> Login</button>
      </div>
    </form>

  </mat-card-content>
</mat-card>